<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean class="core.example.java.Movie" id="movie">
        <constructor-arg name="name" value="Julai"/>
        <constructor-arg name="director" value="Trivikram"/>
        <constructor-arg name="stuntMaster" value="Peter Hein"/>
        <constructor-arg name="numberOfArtists" value="57"/>
        <constructor-arg name="releaseDate" value="15-Aug-2012"/>
    </bean>

    <bean class="core.example.java.SimpleMovieLister" id="simpleMovieLister">
        <constructor-arg name="movie" ref="movie"/>
    </bean>

</beans>